.hieVerificationModalLayout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.hieVerificationActionRow {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
}
